
{% extends 'layout/base.html' %}

{% block titulo %} Cear Contactos {% endblock %}

{% block styles %}


{% load static %}

    <link rel="stylesheet" href="{% static 'css/forms.css' %}" >

{% endblock %}

{% block contenido %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<span class="aux-btns"><a href="{% url 'contactos' %}"> Volver Atrás </a></span>
<form action="{% url 'create' %}" method="POST" >
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Enviar" class="btn-send" />
</form>
{% endblock %}


