{% extends 'layout/base.html' %}

{% block titulo %} Contactos {{ contacto.nombre }} {% endblock %}

{% block contenido %}

<span class="aux-btns"><a href="{% url 'contactos' %}"> Volver Atrás </a></span>

<div class="contact-list-container">
    <ul class="contact-list">
        <li><b>Nombre: </b>{{ contacto.nombre }}</li>
        <li><b>Apellido: </b>{{ contacto.apellido }}</li>
        <li><b>Telefono: </b>{{ contacto.telefono }}</li>
        <li><b>Movil /Celular: </b>{{ contacto.movil }}</li>
        <li><b>Email: </b>{{ contacto.email }}</li>
        <li><b>Direccion: </b>{{ contacto.direccion }}</li>
        <li><b>Compañia: </b>{{ contacto.compañia }}</li>
        <li><b>fecha Nacimiento: </b>{{ contacto.fecha_nacimiento }}</li>
        <li><b>Notas: </b>{{ contacto.notas }}</li>
    </ul>
</div>

{% endblock %}