<div>
    <h3>Buscar por inicial</h3>
    <ul>
        <li>

    <a href="{% url 'contactos' letter='a'%}">A</a></li>
    <a href="{% url 'contactos' letter='b'%}">B</a></li>
    <a href="{% url 'contactos' letter='c'%}">C</a></li>
    <a href="{% url 'contactos' letter='e'%}">D</a></li>
    <a href="{% url 'contactos' letter='e'%}">E</a></li>
    <a href="{% url 'contactos' letter='f'%}">F</a></li>
    <a href="{% url 'contactos' letter='g'%}">G</a></li>
    <a href="{% url 'contactos' letter='h'%}">H</a></li>
    <a href="{% url 'contactos' letter='i'%}">I</a></li>
    <a href="{% url 'contactos' letter='j'%}">J</a></li>
    <a href="{% url 'contactos' letter='k'%}">K</a></li>
    <a href="{% url 'contactos' letter='l'%}">L</a></li>
    <a href="{% url 'contactos' letter='m'%}">M</a></li>
    <a href="{% url 'contactos' letter='n'%}">N</a></li>
    <a href="{% url 'contactos' letter='ñ'%}">Ñ</a></li>
    <a href="{% url 'contactos' letter='o'%}">O</a></li>
    <a href="{% url 'contactos' letter='p'%}">P</a></li>
    <a href="{% url 'contactos' letter='q'%}">Q</a></li>
    <a href="{% url 'contactos' letter='r'%}">R</a></li>
    <a href="{% url 'contactos' letter='s'%}">S</a></li>
    <a href="{% url 'contactos' letter='t'%}">T</a></li>
    <a href="{% url 'contactos' letter='u'%}">U</a></li>
    <a href="{% url 'contactos' letter='v'%}">V</a></li>
    <a href="{% url 'contactos' letter='w'%}">W</a></li>
    <a href="{% url 'contactos' letter='x'%}">X</a></li>
    <a href="{% url 'contactos' letter='y'%}">Y</a></li>
    <a href="{% url 'contactos' letter='z'%}">Z</a></li>
    </ul>
</div>



